@import url("https://wanderer-store.netlify.app/WebPages/productListing/productList.css");
.App {
  font-family: sans-serif;
  text-align: center;
}

.product-card {
  max-width: 300px;
  max-height: 400px;
}

.column-flex-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-and-category {
  background-color: white;
}
